<!DOCTYPE html>
<html lang="Uk-ua">
	<head>
		<meta charset="utf-8" />
		<title>Karabook</title>
		<meta name="description" content="Draw everywhere, as you wish! Download for free on Play Market / App Store" />
		<meta name="keywords" content="karabook, app, coloring app, draw, color by numbers" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
		/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="./style/dist/main.css">
        <link rel="stylesheet" href="./style/dist/animation.css">
	</head>
	<body style="overflow: hidden;">
        <header class="header">
            <a href="/" class="logo">Karabook</a>
        
            <nav class="navbar">
                <a href="#s-one">Why Karabook?</a>
                <a href="#s-two">How to delete account?</a>
                <a href="#s-three">Download App</a>
                <a href="https://www.privacypolicies.com/live/e6ecf303-92af-4de5-9b66-c1b7b4d9a9ab">User`s Policy</a>
            </nav>
        </header>
		<div class="scroll-control">
			<span class="one"></span>
			<span class="two"></span>
			<span class="three"></span>
		</div>

		<section id="s-one" class="scroll s-one" data-section-name="s-one">
			<div class="container">
                <div class="header-image">
                    <img class="fade-in" src="./assets/header-image.png" alt="header-image">
                </div>
                <div class="header-text fade-in">
                    <h2 class="fade-in">Color anywhere and anytime!</h2>
                    <p class="fade-in">Enjoy your free time with new drawer app - Karabook! Color new comics story, enjoy nature view, color exciting paintings and more different opportunities with our new app!</p>
                    <a href="#s-three" class="fade-in">Download now</a>
                </div>
			</div>
		</section>

		<section id="s-two" class="scroll s-two" data-section-name="s-two">
			<div class="container">
                <div class="header-text">
                    <h2 class="fade-in">How to delete account in Karabook App?</h2>
                    <p class="fade-in">We know that sometimes you need to leave and delete your progress in our app, so we decide to help on account deletion! Here we have small video instruction how to delete own account into Karabook App</p>
                </div>
                <div class="header-image">
                    <img class="fade-in" src="./assets/header-image.png" alt="header-image">
                </div>
			</div>
		</section>

		<section id="s-three" class="scroll s-three" data-section-name="s-three">
			<div class="container">
                <div class="header-image">
                    <img class="fade-in" src="./assets/header3-image.png" alt="header-image">
                </div>
                <div class="header-text">
                    <h2 class="fade-in">Download Karabook App</h2>
                    <p class="fade-in">We care about making sure that you can enjoy the process of coloring in your free time. That's why we created Karabook, which will make you feel like a young artist who makes big paintings. This app is available on all mobile platforms so that you can become an artist under any conditions and wherever you are.</p>
                    <a href="https://play.google.com/store/apps/details?id=com.zart_llc.karabook_app&pcampaignid=web_share" class="fade-in">Download on Play Market</a>
                    <a href="#" class="fade-in">Download on the App Store</a>
                </div>
			</div>
		</section>
        



        <!-- Базові підключені скрипти -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"
			integrity="sha512-UyX8JsMsNRW1cYl8BoxpcamonpwU2y7mSTsN0Z52plp7oKo1u92Xqfpv6lOlTyH3yiMXK+gU1jw0DVCsPTfKew=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
            src="./script/mainPage.js"
        ></script>
	</body>
</html>